* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Magnetik';
    src: url('../fonts/Magnetik-Regular.otf');
}

body {
    font-family: 'Magnetik';
    background-color: #121212;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#name_creator_nav {
    color: rgb(255, 255, 255, 0.4);
    font-weight: 100;
}
#logoTemp { width: 40px; border-radius: 20px;}
#logoTempText { width: 50px; color: #fff; font-weight: 300; }
#configText {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
#underlineDigit { 
    color: #fff;
    animation: digitunder 2s infinite; 
}

#footer_link {
    text-decoration: none;
    color: rgb(18, 113, 191);
    transition: 0.2s;
}

#footer_link:hover {
    opacity: 0.5;
}


.navigation {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    backdrop-filter: blur(10px);
    padding: 20px 30px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    cursor: pointer;
    transition: 0.2s;
}

.logo:hover {
    filter: blur(2px);
}

.navKeys {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 30px;
}

#keys {
    flex: 1;
    padding: 5px 10px;
    font-weight: 400;
    color: #fff;

    opacity: 0.5;
    transition: 0.2s;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    filter: blur(0.8px);
}

#keys:hover {
    opacity: 1;
    border-bottom: 4px solid #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    filter: blur(0px);
}

#activatedKey {
    flex: 1;
    padding: 5px 10px;
    font-weight: 400;
    color: #fff;
    opacity: 1;
    border-bottom: 4px solid #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    filter: blur(0px);
}

#important_github {
    background-image: linear-gradient(to right, #1F1F1F, #000);
    border: 1px solid rgb(255, 255, 255, 0.3);
    padding: 8px 14px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

#important_github:hover {
    transform: scale(1.2);
}

li {
    list-style: none;
}

@keyframes digitunder {
    0% {
        color: #fff;
    }
    50% {
        color: transparent;
    }
}

p {
    color: #fff;
}

/* navbar responsive */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    transition: 0.2s;
}

.menu-toggle:hover > .bar {
    opacity: 0.5;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 3px 0;
    transition: 0.2s;
}


#console {
    width: 80%;
    margin: 20px auto;
    color: #fff;
    border-radius: 10px;
}

#tab_upper {
    background-color: #1F1F1F;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#tab_upper h4 {
    background-color: #000;
    border-top-left-radius: 10px;
    padding: 10px 20px;
}

#tab_upper h3 {
    font-weight: 100;
    font-size: 12px;
}

#code_are_one_line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: rgb(0, 0, 0, 0.3);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#code_are_one_line h5 {
    font-family: monospace;
    font-size: 15px;
    background-color: rgb(0, 0, 0, 0.8);
    padding: 10px 20px;
    border-bottom-left-radius: 10px;
    color: yellowgreen;
}

#block_code {
    background-color: transparent;
    border: none;
    color: #fff;
    font-family: monospace;
    outline: none;
    flex: 1;
}

#block_code:active {
    border: none;
}


footer {
    background-color: #000;

    margin-top: 400px;
    padding: 20px;
}

#footer_logo {
    padding: 10px;
}

#footer_logo div {
    margin: 0 auto;

    display: flex;
    gap: 10px;
    justify-content: center;
}

#grid_touchs div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer_logo img { width: 30px;  }
#name_logo { color: #fff; font-weight: 400; font-size: 20px; }

#project_footer h3, #tools_footer h3, #docs_footer h3{
    font-weight: 300;
    color: #fff;
}

footer p {
    margin-top: 20px;
    text-align: center;
    font-weight: 100;
    opacity: 0.5;
    font-size: 12px;
}

/* responsive */
@media (max-width: 768px) {
    .navKeys {
        display: none;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;

        top: 100px;
        right: 0;
        width: 100%;
        gap: 30px;
        transition: 0.2s;
    }

    .navKeys.active {
        display: flex;
        max-height: 400px;
        opacity: 1;
    }

    .menu-toggle {
        display: flex;
    }
}

 

/* animations */
.menu-toggle.toggle .bar:nth-child(1) {
    transform: rotate(45deg) translate(7.5px, 7.5px);
}

.menu-toggle.toggle .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.toggle .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}