<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnvX : A Environment Daily just in terminal format</title>
    <link rel="shortcut icon" href="../static/img/EnVx(1).png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
    <nav class="navigation">
        <div class="logo">
            <div id="configText">
                <h2 id="logoTempText">EnvX</h2>
                <h2 id="underlineDigit">_</h2>  
            </div>
        </div>
        <ul class="navKeys">
            <!-- <li><p id="keys" class="docs">Docs</p></li> -->
            <li><p id="keys" class="projects_nav">Projects</p></li>
            <li><p id="important_github">Github</p></li>
        </ul>
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>

    <div class="content">
        <div id="part_1">
            <p id="msg_terminal">Interact with</p>
            <p id="msg_terminal_2">commands</p>
            <p id="msg_terminal_3">Use and interact with familiar applications, systems and games in Terminal format.</p>
        </div>
        <div id="part_main_projects">
            <div id="block_project" class="project_1">
                <h3 id="title_project">Todo Terminal Beta</h3>
                <p id="description_project">A Simple TodoApp system in format of terminal</p>
            </div>
            <!-- <div id="block_project" class="project_2">
                <h3 id="title_project">Uno Terminal</h3>
                <p id="description_project">Play UnoCard with commands</p>
            </div> -->
            <!-- <div id="block_project" class="project_3">
                <h3 id="title_project">Calang</h3>
                <p id="description_project">A Simple TodoApp system in format of terminal</p>
            </div> -->
            <div id="block_project_empty">
                <h3 id="title_project">￣へ￣</h3>
                <p id="description_project">Coding...</p>
            </div> 
        </div>
    </div>

    <div class="content_about">
        <h2 id="title_about">_Creator Message</h2>
        <p id="about_msg">
            "I developed this site to organize my specific projects in terminal format, where everything is writing commands, nothing to buttons, UI and FX, "EnvX" is not a company, not a team, it is just manage my projects, and also to add to my portfolio."
        </p>
        <h3 id="name_creator">~ Gabriel Xavier</h3>
    </div>

    <div id="prefix_term">
        <div>
            <h2>Prefixes useds</h2>
            <p>Each terminal project have a prefix, and it is a follow pattern</p>
        </div>
        <div id="grid_prefix">
            <h5 id="prefix" class="tsk"><code>tsk</code> TodoTerminal</h5>
            <h5 id="prefix" class="uno"><code>uno</code> UnoTerminal</h5>
            <h5 id="prefix" class="pkx"><code>pkx</code> PickaxeCode</h5>
            <h5 id="prefix" class="cor"><code>cor</code> CoreCode</h5>
            <h5 id="prefix" class="rng"><code>rng</code> RarityTerminal</h5>
            <h5 id="prefix" class="asc"><code>asc</code> FaceTerminal</h5>
        </div>
    </div>




    <footer>
        <div id="footer_logo">
            <div>
                <h2 id="name_logo">EnvX</h2>
            </div>
        </div>
        <p >&copy;2024 EnvX, All rights reserved to <a id="footer_link" href="https://github.com/G4brielXavier" target="_blank">Gabriel Xavier</a></p>
    </footer>

    <script src="../static/js/redirect_links.js"></script>
    <script src="../static/js/responsive_nav.js"></script>
    <script src="../static/js/redirects_principal.js"></script>
</body>
</html>