<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EnvX : A Environment Daily just in terminal format</title>
        <link rel="shortcut icon" href="../static/img/EnVx(1).png" type="image/x-icon">
        <link rel="stylesheet" href="../static/css/projects.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    </head>
    <body>
        <nav class="navigation">
            <div class="logo">
                <div id="configText">
                    <h2 id="logoTempText">EnvX</h2>
                    <h2 id="underlineDigit">_</h2>
                </div>
            </div>
            <ul class="navKeys">
                <!-- <li><p id="keys" class="docs">Docs</p></li> -->
                <li><p id="activatedKey" class="projects">Projects</p></li>
                <li><p id="important_github">Github</p></li>
            </ul>
            <div class="menu-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>

        <div id="repo_block">
            <code>tsk</code>
            <div id="repo_complete">
                <div id="repo_main">
                    <a href="https://www.github.com/G4brielXavier/TodoTerminal" target="_blank" id="repo_name">TodoTerminal</a>
                    <p id="repo_description">Create and manage your tasks in CLI format, with Terminal </p>
                </div>

            </div>
        </div>
        <div id="repo_empty">
            <h3>{{ icon }} No Projects</h3>
        </div>



        <footer>
            <div id="footer_logo">
                <div>
                    <h2 id="name_logo">EnvX</h2>
                </div>
            </div>
            <p >&copy;2024 EnvX, All rights reserved to <a id="footer_link" href="https://github.com/G4brielXavier" target="_blank">Gabriel Xavier</a></p>
        </footer>
    
        <script src="../static/js/responsive_nav.js"></script>
        <script src="../static/js/redirects_principal.js"></script>
    </body>
</html>